<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="Admin">
<!-- 멤버관리 -->
	<select id="blackList" resultType="kh.init.members.MemberDTO">
		select * from tb_member where black = 'Y' and admin = 'N'
	</select>
	<select id="memberList" resultType="kh.init.members.MemberDTO">
		select * from tb_member where admin = 'N' and black = 'N'
	</select>
	<update id="toBlack" parameterType="String">
		update tb_member set black = 'Y' where email = #{email}
	</update>
	<delete id="withdrawal" parameterType="String">
		delete from tb_member where black = 'Y' and email = #{email}
	</delete>
	<update id="toMember" parameterType="String">
		update tb_member set black = 'N' where email = #{email}
	</update>
<!-- 피드관리 -->
	<select id="myFeedList" resultType="kh.init.feeds.FeedDTO">
		select * from tb_feed where email = #{email}
	</select>
	<delete id="deleteFeed" parameterType="Integer">
		delete from tb_feed where feed_seq = #{feed_seq}
	</delete>
<!-- 검색기능 -->
	<select id="search" resultType="kh.init.members.MemberDTO" parameterType="java.util.Map">
		select * from tb_member where black = 'N' and admin = 'N' and
		<choose>
			<when test="search != ''">
				${searchTag} like '%' ||#{search}||'%'  
			</when>
			</choose>
	</select>
</mapper>