<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="Admin">
	<select id="blackList" resultType="kh.init.members.MemberDTO">
		select * from tb_member where black = 'Y'
	</select>
	<select id="memberList" resultType="kh.init.members.MemberDTO">
		select * from tb_member where admin = 'N' and black = 'N'
	</select>
	<update id="toBlack" parameterType="String">
		update tb_member set black = 'Y' where email = #{email}
	</update>
	<delete id="withdrawal" parameterType="String">
		delete from tb_member where black = 'Y' and email = #{email}
	</delete>
	<update id="toMember" parameterType="String">
		update tb_member set black = 'N' where email = #{email}
	</update>
</mapper>