<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Feed">
	<select id="selectAll" resultType="kh.init.feeds.FeedDTO">
		select * from tb_feed
	</select>

	<insert id="registerFeed" parameterType="kh.init.feeds.FeedDTO">
		insert into tb_feed	values(feed_seq.nextval,#{email},#{nickname},#{title},#{contents},#{relation},sysdate)
	</insert>

	<delete id="deleteFeed">
		delete from tb_feed where feed_seq = #{feed_seq}
	</delete>
	
	<update id="modifyFeed" parameterType="kh.init.feeds.FeedDTO">
		update tb_feed set title =
		#{title}, contents=#{contents} , relation=#{relation} where feed_seq =
		#{feed_seq}
	</update>
	
	<select id="detailView" resultType="kh.init.feeds.FeedDTO">
		select * from tb_feed where	feed_seq = #{feed_seq}
	</select>
	
	<select id="getMediaList" resultType="String">
		select media from tb_feed_file where feed_file_seq = #{feed_seq}
	</select>
	<!-- 댓글 기능 -->

	<insert id="registerReply" parameterType="kh.init.feeds.FeedDTO">
		insert into tb_reply
		values(#{feed_seq},reply_seq.nextval,#{nickname},#{contents},sysdate)
	</insert>

	<delete id="deleteReply" parameterType="java.util.Map">
		delete from tb_reply where ${col} = #{val}
	</delete>

	<select id="viewReply" resultType="kh.init.feeds.ReplyDTO">
		select * from tb_reply where feed_seq = #{feed_seq} order by 2 asc
	</select>
</mapper>