<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="Friend">
	<select id="selectByReqSeq" resultType="Integer">
      select friend_request_seq.nextval from dual
  </select>
	<insert id="friendRequest" parameterType="kh.init.friends.FriendRequestDTO">		
		insert into tb_friend_Request values(#{seq}, #{from_id},#{to_id},#{relation}) 
	</insert>
    <select id="selectById" resultType="kh.init.friends.FriendDTO">
    select fr_id from tb_friend where my_id = #{id}  and fr_id not in (select from_id from tb_block where to_id = #{id})
     
  </select>
   <select id="selectByIdOk" resultType="kh.init.friends.FriendDTO">
   select * from tb_friend 
      <trim prefix="where" prefixOverrides="and|or">
    <if test="id != null">
    my_id =  #{id}
    </if>
    
    <if test="fr_id != null">
       and fr_id = #{fr_id} 
    </if>
     
      
    </trim>
  </select>
  <select id="selectBySearch" parameterType="java.util.Map" resultType="kh.init.friends.FriendDTO">
      
     select * from tb_friend   
      <trim prefix="where" prefixOverrides="and|or">
    
    <if test="id != null">
    my_id =  #{id}
	  
    </if>
    <if test="fr_id != null">
     and fr_id like #{fr_id} 
    </if>
     and fr_id not in (select from_id from tb_block where to_id = #{id})
      
    </trim>
  </select>
  <select id="selectListReqById" resultType="kh.init.friends.FriendRequestDTO">
      select * from tb_friend_request where to_id = #{id}
  </select>
  <select id="selectListReqById2" resultType="kh.init.friends.FriendRequestDTO">
      select * from tb_friend_request 
      <trim prefix="where" prefixOverrides="and|or">
    <if test="id != null">
      to_id = #{id}
    </if>
    <if test="from_id != null">
       and from_id = #{from_id}
    </if>
    
    </trim>
  </select>
  <select id="selectListReqBySearch" resultType="kh.init.friends.FriendRequestDTO">
      select * from tb_friend_request
      <trim prefix="where" prefixOverrides="and|or">
    <if test="to_id != null">
      to_id = #{to_id}
    </if>
    <if test="from_id != null">
       and from_id like #{from_id}
    </if>
    
    </trim>
  </select>
  <select id="selectReqById2" parameterType="java.util.Map" resultType="kh.init.friends.FriendRequestDTO">
      select * from tb_friend_request where to_id = #{my_id} and from_id = #{yr_id}
  </select>
   <delete id="deleteRelation" parameterType="java.util.Map">
   delete from tb_friend where my_id = #{my_id} and fr_id = #{fr_id}
  </delete>
  <insert id="insertFriendship" parameterType="kh.init.friends.FriendDTO">		
		insert into tb_friend values(#{my_id},#{yr_id},#{relation}) 
	</insert>
	 <delete id="deleteRequest" >
   delete from tb_friend_Request where from_id = #{from_id} and to_id = #{to_id}
  </delete>
  <update id="changeRelation" parameterType="java.util.Map" >
   update tb_friend set relation = #{relation} where my_id = #{my_id} and fr_id = #{fr_id}
  </update>
</mapper>

