<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="Member">
	<insert id="insert">
		insert into tb_member values(#{email},#{pw},#{nickname},#{name},#{phone},#{birth},#{profile_img},null,'N',sysdate,'E','N')
	</insert>
	<select id="checkEmail" resultType="integer">
		select count(*) from tb_member where email=#{email}
	</select>
	<select id="checkNickname" resultType="integer">
		select count(*) from tb_member where nickname=#{nickname}
	</select>
	<select id="checkPhone" resultType="integer">
		select count(*) from tb_member where phone=#{phone}
	</select>
	<select id="getProfile" resultType="string">
		select profile_img from tb_member where email=#{email}
	</select>
	<update id="resetPw">
		update tb_member set pw=#{pw}
	</update>
	
	<select id="isLoginOk" parameterType="java.util.Map" resultType="integer">
		select count(*) from tb_member where email= #{email} and pw= #{pw}
	</select>
	
	<select id="selectById" resultType="kh.init.members.MemberDTO">
   select * from tb_member where email = #{email}
  </select>
  <select id="selectByFriend" resultType="kh.init.members.MemberDTO">
   select * from tb_member where email = #{fr_id}
  </select>
  
  
  <delete id="delete" >
   delete from tb_member where email = #{email}
  </delete>
  
  <update id="update" parameterType="java.util.Map">
  update tb_member
  <trim prefix="set" prefixOverrides=",">
    <if test=" pw!= null">
       pw = #{pw}
    </if>
    <if test="name != null">
       ,name = #{name}
    </if>
    <if test="phone != null">
       ,phone = #{phone}
    </if>
     <if test="birth != null">
       ,birth = #{birth}
    </if>
    <if test="profile_img != null">
       ,profile_img = #{profile_img}
    </if>
    <if test="nickname != null">
       ,nickname = #{nickname}
    </if>
    <if test="profile_msg != null">
       ,profile_msg = #{profile_msg}
    </if>
    <if test="id != null">
       where email = #{id}
    </if>
     
    
    </trim>
  </update>
</mapper>

